

#welcome {
    overflow: hidden;
    // margin-top: -7.7%;

    position: relative;

    & .whale {
        position: absolute;
        top: 15%;
        right: -40%;
        transition: 1s;
        opacity: 0;
    }

    & .text {
        position: absolute;
        top: 25%;
        left: -40%;
        transition: 1s;
        opacity: 0;
    }
}